.form-container {
  max-width: 500px;
  background: linear-gradient(50deg, rgba(255, 238, 219, 0.9) 0%, rgba(255, 209, 188, 0.9) 100%), url("../img/vague.png") center center no-repeat;
  border: 1px solid #ccc;
  border-radius: 10%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.content {
  text-align: center;
  margin: 0 auto;
}

h3, .fst-italic {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d2c3ba6e;
  border-radius: 10px;
  font-size: 16px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.video-container iframe {
  width: 80%;
  max-width: 800px;
  height: 450px;
  border: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.social-links {
  text-align: center;
  margin-top: 2   0px;
}

.social-links a {
  font-size: 32px;
  display: inline-block;
  background: #f7f7f7;
  color: #555;
  line-height: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.3s;
}

.social-links a:hover {
  background: #ffae68;
  color: #fff;
  text-decoration: none;
}

.social-links a i {
  margin-right: 0;
  font-size: 3rem;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn-secondary {
  margin-top: 2%;
  display: inline-block;
  padding: 15px 30px;
  background-color: #eda269;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #e46d23;
}

.form-container .logo {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 150px; /* Vous pouvez ajuster la taille selon vos besoins */
}

.countdown {
  font-weight: bold;
  color: #ff6347;
  text-align: center;
  margin-top: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adds shadow for better visibility */
  background-color: #ffffff3d; /* Background color */
  padding: 10px; /* Padding for spacing */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #ff6347; /* Border matching the text color */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Adds depth with a shadow */
}

#countdown {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
      visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
      visibility: hidden;
  }
}

#countdown .expired-message {
font-size: 36px; /* Adjust the size to your preference */
font-weight: bold;
color: red;
text-align: center;
}
